<div class="static-slider4">
    <div class="container">
      <!-- Row  -->
      <div class="row">
        <div class="col-md-5 img-anim">
          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/sliders/static-slider/slider4/img1.png" alt="wrapkit" class="img-fluid" />
        </div>
        <!-- Column -->
        <div class="col-md-6 ml-auto align-self-center mt-3 mt-md-0">
          <h1 class="title">I’m Angelina Flintoff <b class="font-weight-bold">Marketing & <span class="text-info-gradiant typewrite" data-period="2000" data-type='[ "SEO Expert", "HTML Expert", "CSS3 Expert"]'></span></b></h1>
          <a class="btn btn-outline-info btn-md mt-3" href=""><span>Checkout My Work</span></a>
        </div>
        <!-- Column -->
  
      </div>
    </div>
    <div class="bg-info-gradiant">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ml-auto info-box">
            <div class="d-flex">
              <div class="display-5 text-white mr-3"><i class="font-weight-bold icon-control-play"></i></div>
              <div class="align-self-center">
                <h4 class="font-weight-light mb-0"><a href="#" data-toggle="modal" data-target="#static-slide3" class="text-white"><b class="font-weight-bold">10 Marketing Tips for your Project </b><br/>05:30 By Angelina Flintoff</a></h4>
              </div>
              <div class="modal fade" id="static-slide3">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title">Watch video</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">×</span>
                                          </button>
                    </div>
                    <div class="modal-body" id="yt-player">
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/DDwbjWCgxVM?" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>