<app-carousel></app-carousel>

<div class="container-fluid mt-4">
    <div class="row not-spacing custom_search">

        <h1 class="text-primary" style="color: #FF0000!important;text-align: center;">Bienvenido a la tienda en línea de
            Ancona Autopartes</h1>
        <div class="container row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Marca</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Modelo</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Año</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary mb-2 w-100">Buscar</button>
            </div>
        </div>
    </div>
    <div class="block-space--layout--divider-sm"></div>

    <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
        <h2>Categorías</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg"
                                        alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 01</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg"
                                        alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 02</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/04/06/13/46/poly-3295856_960_720.png"
                                        alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>Title 03</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                                        alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 04</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                                        alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 04</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                                        alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 04</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://cdn.pixabay.com/photo/2018/03/30/15/12/dog-3275593_960_720.jpg"
                                        alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Title 04</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space--layout--divider-sm"></div>

    <div class="container-fluid" style="padding: 20px 60px;">
        <div class="row shadow_custom_search">
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column justify-content-center align-items-center"><i
                            style="font-size: 60px;" class="fa-solid fa-truck-fast color-red"></i></div>
                    <div style="padding-left: 16px;">
                        <div style="font-size: 18px;font-weight: 600;">Envío nacional gratis</div>
                        <div style="font-size: 15px;">en compras desde $499.00 MXN en ciudades participantes</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-row">
                    <div><i style="font-size: 60px;color: #ff0000;" class="fa-duotone fa-cube"></i></div>
                    <div style="padding-left: 16px;">
                        <div style="font-size: 18px;font-weight: 600;">Envío local gratis</div>
                        <div style="font-size: 15px;">en ciudades participantes</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-row">
                    <div><i style="font-size: 60px;color: #ff0000;" class="fa-solid fa-badge-check"></i></div>
                    <div style="padding-left: 16px;">
                        <div style="font-size: 18px;font-weight: 600;">30 días de garantía</div>
                        <div style="font-size: 15px;">contra defectos de fábrica</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-row">
                    <div><i style="font-size: 60px;color: #ff0000;" class="fa-solid fa-headset"></i></div>
                    <div style="padding-left: 16px;">
                        <div style="font-size: 18px;font-weight: 600;">Soporte personalizado</div>
                        <div style="font-size: 15px;">de asesores especializados</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-space--layout--divider-sm"></div>

    <div class="container-fluid">
        <h2 class="text-center">Productos mas vendidos</h2>
        <div>
            <section class="section-products">
                <div class="container">
                    <div class="row">
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                <div class="part-1">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                        <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                <div class="part-2">
                                    <h3 class="product-title">Here Product Title</h3>
                                    <h4 class="product-old-price">$79.99</h4>
                                    <h4 class="product-price">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                <div class="part-1">
                                    <span class="discount">15% off</span>
                                    <ul>
                                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                        <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                <div class="part-2">
                                    <h3 class="product-title">Here Product Title</h3>
                                    <h4 class="product-price">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                <div class="part-1">
                                    <ul>
                                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                        <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                <div class="part-2">
                                    <h3 class="product-title">Here Product Title</h3>
                                    <h4 class="product-old-price">$79.99</h4>
                                    <h4 class="product-price">$49.99</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                <div class="part-1">
                                    <span class="new">new</span>
                                    <ul>
                                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                        <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                <div class="part-2">
                                    <h3 class="product-title">Here Product Title</h3>
                                    <h4 class="product-price">$49.99</h4>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- banner -->
   <app-banner></app-banner>
</div>