.custom_search{
    background: #fff;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.09);
}

.block-space--layout--divider-sm {
    height: 40px;
}




  /* AQUI TERMINAR LOS CARD DESTCADOS */





