<app-carousel></app-carousel>

<div class="container-fluid mt-4">
    <div class="row not-spacing custom_search">

        <h1 class="text-primary" style="color: #FF0000!important;text-align: center;">{{ 'welcome' | translate }}</h1>
        <div class="container row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Marca</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Modelo</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Año</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary mb-2 w-100">Buscar</button>
            </div>
        </div>
    </div>
    <div class="block-space--layout--divider-sm"></div>

    <!-- Topic Cards -->
    <app-category></app-category>
    <div class="block-space--layout--divider-sm"></div>

    <app-support></app-support>
    <div class="block-space--layout--divider-sm"></div>

    <app-best-product></app-best-product>
    <div class="block-space--layout--divider-sm"></div>

    <!-- banner -->
   <app-banner></app-banner>
   <div class="block-space--layout--divider-sm"></div>
   
   <app-subscribe></app-subscribe>
</div>