<div class="container-fluid" style="padding: 20px 60px;">
    <div class="row shadow_custom_search">
        <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column justify-content-center align-items-center"><i
                        style="font-size: 60px;" class="fa-solid fa-truck-fast color-red"></i></div>
                <div style="padding-left: 16px;">
                    <div style="font-size: 18px;font-weight: 600;">{{ 'recomendations.send' | translate}}</div>
                    <div style="font-size: 15px;">{{ 'recomendations.content' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-row">
                <div><i style="font-size: 60px;color: #ff0000;" class="fa-duotone fa-cube"></i></div>
                <div style="padding-left: 16px;">
                    <div style="font-size: 18px;font-weight: 600;">{{ 'recomendations.send_local' | translate}}</div>
                    <div style="font-size: 15px;">{{ 'recomendations.content_local' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-row">
                <div><i style="font-size: 60px;color: #ff0000;" class="fa-solid fa-badge-check"></i></div>
                <div style="padding-left: 16px;">
                    <div style="font-size: 18px;font-weight: 600;">{{ 'recomendations.guarante' | translate}}</div>
                    <div style="font-size: 15px;">{{ 'recomendations.content_guarante' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-row">
                <div><i style="font-size: 60px;color: #ff0000;" class="fa-solid fa-headset"></i></div>
                <div style="padding-left: 16px;">
                    <div style="font-size: 18px;font-weight: 600;">{{ 'recomendations.support' | translate}}</div>
                    <div style="font-size: 15px;">{{ 'recomendations.content_support' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
