<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img src="../../../../assets/img/slider/redes.webp" alt="img 1" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="../../../../assets/img/slider/redes2.webp" alt="img 2" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img src="../../../../assets/img/slider/redes3.webp" alt="img 3" />
    </div>
  </ng-template>
</owl-carousel-o>