<div>
    <div class="service-40 py-5 wrap-feature40-box" style="background-image:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img1.jpg), url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card border-0 mb-4">
                        <div class="card-body"> <span class="badge badge-danger rounded-pill px-3 py-1 font-weight-light">Contactanos</span>
                            <h3 class="my-3 text-uppercase">{{ 'contact.title' | translate }}</h3>
                            <p class="my-4">{{ 'contact.content' | translate }}</p> 
                                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="#f40"><span>{{ 'buttons.contact' | translate }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6"> 
                                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img3.jpg" alt="wrapkit" class="img-fluid rounded" /> 
                            </div>
            </div>
        </div>
    </div>
</div>