<div>
    <div class="service-40 py-5 wrap-feature40-box" style="background-image:url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img1.jpg), url(https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card border-0 mb-4">
                        <div class="card-body"> <span class="badge badge-danger rounded-pill px-3 py-1 font-weight-light">Contactanos</span>
                            <h3 class="my-3 text-uppercase">Si, tienes alguna duda contactanos</h3>
                            <p class="my-4">¡Hola AutoPartes Garage! Esta disponible para servirte. Si tienes alguna pregunta o necesitas ayuda en algún tema específico, por favor, indícame en qué puedo ayudarte. Ya sea que estés buscando información sobre auto partes, atención al cliente, o cualquier otro asunto, estaré encantado de asistirte. ¡Adelante con tu consulta!</p> 
                                                    <a class="btn btn-info-gradiant btn-md btn-rounded border-0 text-white" href="#f40"><span>View Details</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6"> 
                                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature40/img3.jpg" alt="wrapkit" class="img-fluid rounded" /> 
                            </div>
            </div>
        </div>
    </div>
</div>